@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: #37FF00;
}

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}

@layer utilities {
  .text-accent {
    color: var(--color-accent);
  }
  .bg-accent {
    background-color: var(--color-accent);
  }
  .border-accent {
    border-color: var(--color-accent);
  }
}
